* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f0f0f0;
}

.pos-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 20px;
    max-width: 1000px;
    width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    resize: both;
    aspect-ratio: 8 / 5;
}

.header-pos {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.header-pos input {
    width: 82%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.possearch-btn {
    padding: 10px 20px;
    background-color: #D76614;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.categories {
    display: flex;
    gap: 10px;
}

.category-select {
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 45px;
    cursor: pointer;
}

.category-select:focus {
    outline: none;
    background-color: #D76614;
    color: white;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 180px);
}

.product {
    text-align: center;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 320px;
}

.product img {
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 8px;
}

.product h3 {
    font-size: 1rem;
    margin-bottom: 8px;
}

.product p {
    font-size: 0.8rem;
    font-weight: bold;
}

.order-summary {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-summary h2 {
    margin-bottom: 20px;
}

.order-summary ul {
    list-style: none;
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.order-summary li {
    margin-bottom: 10px;
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    justify-content: start;
}

.order-summary .item {
    display: flex;
    justify-content: space-between;
}

.totals {
    margin-bottom: 60px;
    text-align: right;
}

.totals p, .totals h3 {
    text-align: right;
    margin-bottom: 10px;
}

.pay-now {
    position: absolute;
    bottom: 20px;
    left: 170px;
    right: 20px;
    padding: 10px;
    background-color: #D76614;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    width: calc(100% - 200px);
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.quantity-control button {
    padding: 5px 10px;
    border: none;
    background-color: #D76614;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.quantity-control input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
}

.add-to-cart-btn {
    width: 80%;
    padding: 10px;
    background-color: #D76614;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 0.8rem;
    position: relative;
}

.add-to-cart-btn:hover {
    background-color: #2D2B2B;
}

.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: clamp(0.7rem, 1vw, 1rem);
    color: red;
    margin-left: -40px;
    margin-top: -20px;
    position: fixed;
}

.delete-btn:hover {
    color: darkred;
}

.deleteIcon{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

/*CSS FOR ORDER DETAILS*/

.order-heading{
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    justify-content: space-around;
    text-align: center; /* Center text horizontally in each header cell */
    vertical-align: middle; /* Vertically align text in the center of each cell */
    padding: 10px; /* Optional: Add padding for better spacing */
}

.div-payment{
    display: flex;
}
#payment-text{
    font-size: clamp(0.8rem, 1vw, 1rem);
    margin-right: 10px;
    margin-top: 12px;
}
#payment-amount{
    border: 1px solid #000;
    border-radius: 5px;
    width: 6vw;
    height: 30px;
    font-size: clamp(0.8rem , 1vw , 1rem);
    color: black;
    background-color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.discount-div{
    display: flex;
}


.discount-button{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #D76614;
    color: #fff;
    margin-right: 0px;
    width: 5vw;
    height: 4vh;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: clamp(0.7rem , 1vw , 0.9rem);
}

.normal-button{
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #D76614;
    color: #fff;
    margin-right: 0px;
    width: 5vw;
    height: 4vh;
    text-align: center;
    margin-left: 35px;
    font-size: clamp(0.7rem , 1vw , 0.9rem);
}

.ordered {
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    text-align: center; /* Center text horizontally */
    vertical-align: middle; /* Center text vertically */
}

.ordered td {
    padding: 3px;
    text-align: center; /* Center text horizontally in each cell */
    vertical-align: middle; /* Center text vertically in each cell */
}


/* Medium screens */
@media screen and (max-width: 1200px) {
    .pos-container {
        width: 75%;
        left: 640px;
        grid-template-columns: 2fr 1fr;
        height: 720px;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Adjust columns based on screen size */
        gap: 20px;
        overflow-y: auto; /* Enable vertical scrolling */
        max-height: 620px; /* Adjust this value to control how many products are visible */
    }
    

    .order-summary {
        height: 600px;
    }

    .pay-now {
        position: absolute;
        bottom: 20px;
        left: 128px;
        right: 20px;
        padding: 10px;
        background-color: #D76614;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: calc(120% - 200px);
    }

    .discount-button{
        width: 8vw;
        height: 4vh;
        margin-left: 5px;
        margin-bottom: 10px;
    }
    
    .normal-button{
        margin-right: 0px;
        width: 8vw;
        height: 4vh;
        margin-left: 35px;
        font-size: clamp(0.7rem , 1vw , 0.9rem);
    }
}

/* Small screens */
@media screen and (max-width: 868px) {
    .pos-container {
        grid-template-columns: 2fr, 1fr;
        left: 510px;
        width: 70%;
    }

    .header-pos input {
        width: 100%;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        height: 590px;
    }

    .order-summary {
        height: auto;
    }

    .discount-button{
        width: 9vw;
        height: 4vh;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    
    .normal-button{
        margin-right: 0px;
        width: 9vw;
        height: 4vh;
        margin-left: 35px;
        font-size: clamp(0.7rem , 1vw , 0.9rem);
    }

    .pay-now {
        width: 60%;
        left: 50px;
        right: 0;
    }
}

/* Small screens */
@media screen and (max-width: 768px) {
    .pos-container {
        grid-template-columns: 2fr, 1fr;
        left: 480px;
        width: 65%;
    }

    .header-pos input {
        width: 100%;
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        height: 590px;
    }

    .order-summary {
        height: auto;
    }

    .pay-now {
        width: 60%;
        left: 30px;
        right: 0;
    }
}

/* Extra small screens */
@media screen and (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .header-pos {
        flex-direction: column;
        gap: 5px;
    }

    .pay-now {
        width: 90%;
        left: 5%;
        right: 5%;
    }

    .add-to-cart-btn {
        width: 100%;
    }
}
